<div class="row">
  <div class="col-sm-3 menulaterale">
    #menu laterale degli esercizi
    <ul>
      <li>
        <a routerLink="esempi" routerLinkActive="selezionato">Esempi</a>
      </li>
      <li>
        <a routerLink="form/data-driven" routerLinkActive="selezionato">Data Driven form</a>
      </li>
      <li>
        <a routerLink="form/template-driven" routerLinkActive="selezionato">Template Driven Form</a>
      </li>
    </ul>

  </div>
  <div class="col-sm-9 contenitoreEsercizi">
    <router-outlet></router-outlet>
  </div>


</div>
